@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    padding: 12px;
    border-radius: 12px;
  }
  .active {
    background-color: aqua;
  }
  html {
    height: 100%;
  }
}
